.why{
    margin: 0px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why>h1{
    color: rgb(5, 5, 66);
}
.why>p{
    font-size: medium;
    font-weight: 300;
    width: 30rem;
}
.why-list{
    display: flex;
    gap: 4rem
}
.why-list>ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: disc;
}
.why-list>ul>li{
    font-size: larger;
    font-weight: 500;
    color: rgb(5, 5, 66);
}
#line1{
    margin-left: -1.5rem;
}